/.vscode
package-lock.json
yarn.lock
/node_modules
.env
.env.local
/.next
TODO
.DS_Store
*.code-workspace
/package-lock.json
.vercel

.mailing
*.xlsx
failed.json
current.json
success.json
sitemap*
.env*
