.footer {
	width: 100%;
	padding: var(--outer-margin);
	background-color: var(--black);
	padding-top: var(--space);

	@include mq($from: desktop) {
		padding-left: calc((var(--outer-margin) * 2) + var(--logo-size));
		padding-right: calc((var(--outer-margin) * 2) + var(--logo-size));
		min-height: calc(100vh - var(--navbar-height));
	}

	padding-top: var(--space);
	padding-bottom: var(--small-space);

	section {
		display: flex;
		flex-direction: row;
		margin-bottom: var(--small-space);
		&:first-of-type {
			//padding-top: var(--space);
		}
	}

	.menu {
		display: none;

		@include mq($from: desktop) {
			display: flex;
		}
	}

	nav {
		width: 100%;
		color: var(--white);

		a {
			color: var(--white);
			&:hover {
				color: var(--beige-dark) !important;
			}
		}

		> ul {
			display: flex;
			flex-direction: row;
			list-style: none;

			> li {
				width: calc(100% / 6);
				line-height: var(--line-height-nav);

				ul {
					list-style: none;

					li {
						max-width: 80%;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;

						&:first-child {
							font-weight: bold !important;
						}
					}
				}
			}
		}
	}

	.about,
	.social,
	.copyright {
		line-height: var(--line-height);

		@include mq($until: tablet) {
			display: block;
		}

		div,
		p {
			color: var(--white);

			span {
				padding-right: 1em;
			}

			@include mq($from: tablet) {
				width: 50%;

				&:first-child {
					padding-right: 2em;
				}
			}
		}
	}

	.social {
		@include mq($until: tablet) {
			span {
				padding-bottom: 1em;
			}
		}
	}

	.support {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0;

		@include mq($from: tablet) {
			width: calc(100% + var(--outer-margin) + var(--logo-size));
			margin-right: calc(-1 * var(--outer-margin) + var(--logo-size));
		}

		@include mq($until: tablet) {
			align-items: end;
			svg {
				transform: scale(0.8);
			}
		}

		.sponsors {
			display: flex;
			flex-direction: row;

			ul {
				display: flex;
				flex-wrap: wrap;
				@include mq($until: tablet) {
					li:first-of-type {
						width: 100%;
					}
				}
				list-style: none;

				li {
					margin-right: 1rem;
					max-height: 1rem;

					@include mq($until: tablet) {
						&:not(:first-of-type) {
							margin-top: 0.4em;
						}
					}

					.image {
						min-height: 0.8rem;
						max-height: 0.8rem;
						height: 0.8rem;
						@include mq($from: tablet) {
							min-height: 1rem;
							max-height: 1rem;
							height: 1rem;
						}
					}
				}
			}
		}

		.logo {
			svg {
				margin-left: 0px;
				width: 4rem;
				height: 4rem;
			}
		}
	}
}
