.container {
	figure[data-editable='true'] {
		&:hover {
			filter: grayscale(1);
			cursor: pointer;
		}
	}

	h2 {
		padding-top: 0.8em;
	}
}

.overlay {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: var(--black);
	align-items: center;
	justify-content: center;
	background-color: rgba(252, 252, 252, 0.8);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease-in-out;

	&.show {
		opacity: 1;
		pointer-events: all;
	}

	.transparent {
		background-color: transparent !important;
	}

	.error {
		display: flex;
		min-width: 50%;
		max-width: 50%;
		min-height: 50%;
		flex-direction: column;
		background-color: var(--white);
		padding: 2rem;
		border: 1px solid var(--beige-dark);

		.message {
			color: var(--red);
			margin-bottom: 1rem;
			flex: 1 1 100%;
		}
	}
}

.inactive {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - var(--navbar-height));
	min-height: calc(100dvh - var(--navbar-height));
	color: var(--beige-dark);
}
